@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --bg: #171717;
  --bgDark: #18181b;
  --bgSemiLight: #262626;
  --bgLight: #71717a;
  --sky: #7dd3fc;
  --lime: #84cc16;
}

html {
  scroll-behavior: smooth;
  font-size: 16px;
}

body {
  font-family: montserrat;
  width: 100vw;
  margin: 0;
  box-sizing: border-box;
  background: var(--bg);
  color: white;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

body::-webkit-scrollbar {
  display: none;
}

#home,
#about,
#portfolio,
#contact {
  height: 100vh;
}

#navbar {
  background: var(--bgDark);
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  height: 10%;
  box-shadow: 0px 2px 16px black;
  padding-right: 24px;
  padding-left: 24px;
  box-sizing: border-box;
  font-size: 1.35rem;
  transition: 0.4s;
  z-index: 9;
}

#navName {
  opacity: 0;
  transition: 0.4s;
  font-size: 1rem;
  color: var(--sky)
  font-weight: 500;
}

#navName a {
  color: var(--sky);
}

#navbarRight {
  display: flex;
  flex-direction: row;
  gap: 24px;
}

#navbarRight div {
}

a {
  color: white;
  text-decoration: none;
}

#home {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: ;
}

#home .title {
  font-size: 3rem;
  font-weight: 100;
  color: var(--lime);
  letter-spacing: -2px;
}

#home .name {
  color: var(--sky);
}

#home .desc {
  font-size: 2rem;
  font-weight: 100;
  margin-bottom: 16px;
  color: white;
}

#laptop {
  margin-top: 12px;
  width: 40vw;
  margin-bottom: 32px;
}

#about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.tools {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  font-weight: 100;
  font-size: 3rem;
}

.logosDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 64px;
  opacity: 1;
  transition: 0.4s;
  z-index: ;
}

.logos {
  height: 75px;
  -webkit-filter: drop-shadow(0px 0px 4px white);
  filter: drop-shadow(0px 0px 10px black);
}

#portfolio {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.projects {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 32px;
}

.project {
  background: var(--bg);
  display: flex;
  flex-direction: column;
  height: 520px;
  width: 360px;
  padding: 16px;
  transition: 0.25s;
  box-sizing: border-box;
  border-radius: 8px;
}

.project:hover {
  background: var(--bgSemiLight);
  color: var(--sky);
  transition: 0.25s;

}

.thumb {
  background: var(--bgDark);
  width: auto;
  padding: 16px 8px 16px 8px;
  margin-bottom: 12px;
}

.thumb img {
  width: 100%;
}

.projectTitle {
  font-size: 1.4rem;
  margin-bottom: 16px;
}

.projectDesc {
  margin-bottom: 16px;
  flex: 1;
  height: auto;
}

.techIcons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  margin-bottom: 16px;
}

.techIcon {
  width: 64px;
}

.techIcon img {
  width: 100%;
}

.links {
  display: flex;
  flex: row;
  justify-content: space-between;
  color: black;
}
.links a {
  color: black;
}

.link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 46%;
  height: 28px;
  border-radius: 8px;
}

.live {
  background: var(--sky);
}

.sourceCode{
  background: var(--lime);
}

/*-------------1440p screen------------*/
@media (min-width: 2560px) {
  html {
    font-size: 24px;
  }
}

/*-------------4K screen------------*/
@media (min-width: 3840px) {
  html {
    font-size: 32px;
  }
}

/*-------------mobile------------*/
@media (max-width: 1080px) {
  html {
    font-size: 5px;
  }
}
